body {
  background: #e7e7e8;
}
.portslisting {
  width: 100%;
  max-width: 80em;
  min-width: 30em;
  margin: auto;
}
.entry {
  text-align: center;
  height: 2.5em;
  background: #C3B7F1;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  border: 2px solid transparent;  /* for signaling modified/saved */
}
.entry.disabled {
  opacity: .5;
}
.entry.even {
  background: white;
}
.entry.odd {
  background: #f2f2f2;
}
.entry div {
  float: left;
  height: 100%;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.more {
  width: 5%;
  /*min-width: 2em;*/
}
.more.disabled {
  background: red;
}
.more.enabled {
  background: green;
}
.moreoptionsimage {
  height: 1.5em!important;
  width: 1.5em!important;
  cursor: pointer;
  background: url("../imgs/more.png") no-repeat;
  background-size: 100%;
}
.moreoptionsimage.shown {
  background: url("../imgs/more-opened.png") no-repeat!important;
  background-size: 100%!important;
}
.porttype {
  width: 9%;
  /*min-width: 3em;*/
}
.porttype select {
  width: 100%;
  height: 1.5em;
}
.publicip {
  width: 23%;
  /*min-width: 7em;*/
}
.publicip input[type="text"] {
  height: 1.5em;
  padding: 0 0.5em;
  border: 2px solid #CECECE;
}
.doubledot {
  width: 1%;
  /*min-width: .5em;*/
}
.publicport {
  width: 6%;
  /*min-width: 3em;*/
  text-align: left;
}
.publicport input[type="text"] {
  height: 1.5em;
  padding: 0 0.5em;
  border: 2px solid #CECECE;
}
.middle {
  width: 6%;
  /*min-width: 3em;*/
}
.privateip {
  width: 23%;
  /*min-width: 7em;*/
}
.privateip input[type="text"] {
  height: 1.5em;
  padding: 0 0.5em;
  border: 2px solid #CECECE;
}
.privateport {
  width: 6%;
  text-align: left;
  /*min-width: 3em;*/
}
.privateport input[type="text"] {
  height: 1.5em;
  padding: 0 0.5em;
  border: 2px solid #CECECE;
}
.comment {
  width: 20%;
  /*min-width: 10em;*/
}
.comment input[type="text"] {
  height: 1.5em;
  padding: 0 0.5em;
  border: 2px solid #CECECE;
}
.addnew {
  width: 100%;
  max-width: 80em;
  min-width: 30em;
  margin: auto;
  background: #f2f2f2;
  height: 5em;
  padding: .5em 0;
}
#newrule {
  text-align: center;
  height: 2em;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;

  div {
    float: left;
    height: 100%;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
#newrule .porttype {
  margin-left: 1%;
}
#newrule .comment {
  width: 24%;
}
.add {
  height: 2em;
  padding: .5em;
  float: right;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}
.moreoptionsmenu {
  background: #6f6f6f;
  width: 5em;
  height: 7em!important;
  position: absolute;
  margin: 0 4em;
  z-index: 100;
}
.moreoptionsmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.moreoptionsmenu li {
  margin: .1em .5em;
  float: left;
}
@media screen and (max-width: 50em) {
  .entry {
    height: 3em;
  }
  .comment {
    width: 0;
    display: none!important;
  }
  .more {
    width: 7%;
  }
  .porttype {
    width: 11%;
  }
  .publicip {
    width: 26%;
  }
  .doubledot {
    width: 1%;
  }
  .publicport {
    width: 10%;
  }
  .middle {
    width: 8%;
  }
  .privateip {
    width: 26%;
  }
  .privateport {
    width: 10%;
  }
}